{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="text-center">
  <h2>Bienvenue sur le site complémentaire de la Châtaigneraie !</h2>
  <h3>Ici, vous pouvez voir la liste des entreprises qui peuvent prendre des stagiaires</h3>
</div>

<p>Nombre total d'entreprises : {{ listeEntreprise|length }}</p>

<div class="text-center">
  <button><a href="{{ path('ajout') }}">Ajouter</a></button>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>
          <a href="{{ path(app.request.attributes.get('_route'), {tri: 'nom', ordre: tri == 'nom' and ordre == 'asc' ? 'desc' : 'asc'}) }}">Nom de l'entreprise</a>
        </th>
        <th>
          <a href="{{ path(app.request.attributes.get('_route'), {tri: 'ville', ordre: tri == 'ville' and ordre == 'asc' ? 'desc' : 'asc'}) }}">Ville</a>
        </th>
        <th>Secteur d'activité</th>
        <th>Tuteurs</th>
        <th>Profils</th>
        <th>Etudiants</th>
        <th>Jury</th>
        <th>Spécialité de prédilection</th>
      </tr>
    </thead>
    <tbody>
      {% for entreprise in listeEntreprise %}
      <tr>
        <td>{{ entreprise.nom }}</td>
        <td>
          {{ entreprise.adresse }}<br>
          {{ entreprise.cp }} {{ entreprise.ville }}
        </td>
        <td>{{ entreprise.secteurActivite.nom }}</td>
        <td>
          {% for employe in entreprise.employes %}
            {{ employe.nom }} {{ employe.prenom }}<br>
            {{ employe.fonction }}<br>
            {{ employe.mail }}<br>
            {{ employe.tel }}<br><br>
          {% endfor %}
        </td>
        <td> <!-- Pas encore rempli --> </td>
        <td>
          {% for etudiant in entreprise.etudiants %}
            {{ etudiant.nom }} {{ etudiant.prenom }} - {{ etudiant.bts }} {{ etudiant.specialite }}<br>
            Année : {{ etudiant.annee }}<br><br>
          {% endfor %}
        </td>
        <td> <!-- Pas encore rempli --> </td>
        <td> <!-- Pas encore rempli --> </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
