{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

{% if user %}
    <a href="{{ path('deconnexion') }}" class="btn btn-danger">Déconnexion</a>
{% endif %}

{% if user %}
    <h2>Bienvenue {{ user.prenom }} ({{ user.login }}) sur le site complémentaire de la Chataigneraie !</h2>
{% endif %}
{% if userRole == 1 %}
    <h3>Vous êtes connecté en tant qu'administrateur, vous pouvez donc ajouter, modifier ou supprimer une entreprise qui peut prendre des stagiaires dans cette liste</h3>
{% endif %}

{% if userRole == 0 %}
    <h3>Ici, vous pouvez voir la liste des entreprises qui peuvent prendre des stagiaires</h3>
{% endif %}

<p>Nombre total d'entreprises : {{ listeEntreprise|length }}</p>

{#<p>User Role: {{ userRole }}</p>#}

{% if userRole == 1 %}
    <a href="{{ path('ajout') }}" class="btn btn-primary">Ajouter</a>
{% endif %}

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
        <tr>
            {% if userRole == 1 %}
                <th>Modification/Suppression</th>
            {% endif %}
            <th>
                <a href="{{ path(app.request.attributes.get('_route'), {tri: 'nom', ordre: tri == 'nom' and ordre == 'asc' ? 'desc' : 'asc'}) }}">Nom de l'entreprise</a>
            </th>
            <th>
                <a href="{{ path(app.request.attributes.get('_route'), {tri: 'ville',ordre: tri == 'ville' and ordre == 'asc' ? 'desc' : 'asc'}) }}">Ville</a>
            </th>
            <th>Secteur d'activité</th>
            <th>Tuteurs</th>
            <th>Etudiants</th>
            <th>Jury</th>
        </tr>
    </thead>
    <tbody>
        {% for entreprise in listeEntreprise %}
            <tr>
                {% if userRole == 1 %}
                <td><button><a href="{{ path('modif') }}">Modification</a>
                </button> <button><a href="{{ path('suppr',{ id: entreprise.id }) }}">suppression</a></button> 
                </td>
                {% endif %}

                <td>{{ entreprise.nom }}</td>
                <td>
                    {{ entreprise.adresse }}<br>
                    {{ entreprise.cp }} {{ entreprise.ville }}
                </td>
                <td>{{ entreprise.secteurActivite.nom }}</td>
                <td>
                    {% for employe in entreprise.employes %}
                        {{ employe.nom }} {{ employe.prenom }}
                        {{ employe.fonction }}<br>
                        {{ employe.mail }}<br>
                        {{ employe.tel }}<br>
                    {% endfor %}
                </td>
                <td>
                    {% for etudiant in entreprise.etudiants %}
                    <br>
                        {{ etudiant.nom }} {{ etudiant.prenom}} en {{ etudiant.bts }} {{ etudiant.specialite.nom }}<br>
                        Année du stage : {{ etudiant.annee }}
                    {% endfor %}
                </td>
                <td>
                    {% for session in listeSessionExam %}
                        {% for employe in session.jury %}
                            {% if employe in entreprise.employes %}
                                {{ employe.prenom }} {{ employe.nom }} est ok pour être jury en {{ session.mois }} {{ session.annee }} {{ session.specialite }}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}