<p>Ajouter une entreprise : </p><button><a href="{{ path('ajoutEntreprise') }}">Ajouter</a></button>
<p>Ajouter un/une employé/employée à une entreprise : </p><button><a href="{{ path('ajoutEmploye') }}">Ajouter</a></button>
<p>Ajouter un/une étudiant/étudiante qui a déjà effectué un stage dans une entreprise : </p><button><a href="{{ path('ajoutEtudiant') }}">Ajouter</a></button>
<p>Ajouter un profil recherché par une entreprise : </p><button><a href="{{ path('ajoutProfil') }}">Ajouter</a></button>
<p>Associer une session d'examen à un employé qui est d'accord pour être jury : </p><button><a href="{{ path('ajoutSessionExam') }}">Ajouter</a></button>


<br>
<button><a href="{{ path('accueil') }}">Retour</a></button>