{% extends 'base.html.twig' %}

{% block title %}Ajouts{% endblock %}

{% block body %}
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-body card-connnexion">
          <h2 class="mb-4 text-center">Ajouts rapides</h2>

          <div class="row g-3">
            <div class="col-md-6 d-grid">
              <a href="{{ path('ajoutEntreprise') }}" class="btn btn-primary btn-accueil">Ajouter une entreprise</a>
            </div>
            <div class="col-md-6 d-grid">
              <a href="{{ path('ajoutEmploye') }}" class="btn btn-primary btn-accueil">Ajouter un·e employé·e</a>
            </div>
            <div class="col-md-6 d-grid">
              <a href="{{ path('ajoutEtudiant') }}" class="btn btn-primary btn-accueil">Ajouter un·e étudiant·e</a>
            </div>
            <div class="col-md-6 d-grid">
              <a href="{{ path('ajoutProfil') }}" class="btn btn-primary btn-accueil">Ajouter un profil recherché</a>
            </div>
            <div class="col-md-6 d-grid">
              <a href="{{ path('ajoutSessionExam') }}" class="btn btn-primary btn-accueil">Ajouter un jury à une session</a>
            </div>
            <div class="col-md-6 d-grid">
              <a href="{{ path('accueil') }}" class="btn btn-secondary btn-deconnexion">Retour à l'accueil</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}
