{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body card-connnexion">
          <h2 class="mb-4 text-center">Connexion</h2>

          {{ form_start(connexionForm) }}

            {{ form_row(connexionForm.login, {
              attr: {'class': 'form-control'},
              label_attr: {'class': 'form-label'}
            }) }}

            {{ form_row(connexionForm.password, {
              attr: {'class': 'form-control'},
              label_attr: {'class': 'form-label'}
            }) }}

            {{ form_row(connexionForm.submit, {
              attr: {'class': 'btn btn-connexion btn-primary mt-3'},
            }) }}

            <a href="{{ path('inscription') }}" class="btn-connexion btn-primary mt-3">Créer un compte</a>

          {{ form_end(connexionForm) }}

          {% for message in app.flashes('error') %}
            <div class="alert alert-danger mt-3">{{ message }}</div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
{% endblock %}
