{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-body card-formulaire">
          <h2 class="mb-4 text-center">Modifier un tuteur</h2>

          {{ form_start(modifEmploye) }}

          <div class="row">
            <div class="col-md-6">
              {{ form_row(modifEmploye.nom, {
                attr: {'class': 'form-control'},
                label_attr: {'class': 'form-label'}
              }) }}
            </div>
            <div class="col-md-6">
              {{ form_row(modifEmploye.prenom, {
                attr: {'class': 'form-control'},
                label_attr: {'class': 'form-label'}
              }) }}
            </div>

            <div class="col-md-6">
              {{ form_row(modifEmploye.fonction, {
                attr: {'class': 'form-control'},
                label_attr: {'class': 'form-label'}
              }) }}
            </div>
            <div class="col-md-6">
              {{ form_row(modifEmploye.mail, {
                attr: {'class': 'form-control'},
                label_attr: {'class': 'form-label'}
              }) }}
            </div>

            <div class="col-md-6">
              {{ form_row(modifEmploye.tel, {
                attr: {'class': 'form-control'},
                label_attr: {'class': 'form-label'}
              }) }}
            </div>
            <div class="col-md-6">
              {{ form_row(modifEmploye.idEntreprise, {
                attr: {'class': 'form-select'},
                label_attr: {'class': 'form-label'}
              }) }}
            </div>
          </div>

          <div class="d-flex mt-3 row-submit">
            {{ form_row(modifEmploye.cancel, {
              attr: {'class': 'btn btn-icone-suppr btn-primary'}
            }) }}
            {{ form_row(modifEmploye.submit, {
              attr: {'class': 'btn btn-icone btn-primary'}
            }) }}
          </div>

          {{ form_end(modifEmploye) }}

        </div>
      </div>
    </div>
  </div>
{% endblock %}
