{# <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Description de votre site">
        <meta name="author" content="Votre Nom">
        <title>Ma Page Web</title>
        <link rel="stylesheet" href="styles.css">
    </head> #}
    
    
    <h2> modifier les etudiant qui on fait des : {{ entreprise.nom }}</h2>


{{ form_start(form) }}
    {{ form_row(form.etudiants) }}
    {{ form_row(form.submit) }}
    {{ form_row(form.cancel) }}
{{ form_end(form) }}
